@font-face {
    font-family: DIN;
    src: url(../font/DINBold.ttf);
}

body {
    background-color: #292728;
    color: #fff;
}

h2 {
    font-family: DIN, "Open Sans";
    font-size: 47px;
    line-height: 49px;
    text-transform: uppercase;
    margin: 0px;
    padding: 0px;
    margin-top: 35px;
}

/* Header */
section#header {
    background: #000;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
}

section#header p {
    margin: 0px;
}

/* Landing page */
section#content .image {
    padding-bottom: 35px;
}

section#content .image img {
    margin-top: 15px;
    max-width: 100%;
    height: auto;
    width: auto;
}

section#content .buttons {
    background: #1a1a1a;
    border-radius: 100px;
    padding: 25px;
    margin-bottom: 35px;
    transition: all 0.15s;
}

section#content .buttons:hover {
    box-shadow: 1px 3px 5px black;
}

section#content .buttons .socials-xs {
    display: none;
}

section#content .buttons .socials-sm {
    display: none;
}

section#content .buttons .socials-md {
    display: block;
}

/*Extra small devices (less than 576px)*/
@media (max-width: 687.98px) {
    section#content .buttons {
        border-radius: 0px;
        padding: 25px 0px 0px 0px;
        margin: 0px;
        align-items: left;
        transition: all 0.15s;
    }

    section#content .buttons a {
        margin: 0px 0px 10px 0px;
        padding: 0;
    }

    section#content .buttons span {
        font-size: 29px;
    }

    section#content .buttons .socials-xs {
        display: inline;
    }

    section#content .buttons .socials-md {
        display: none;
    }
}

/*Small devices (less than 768px)*/
@media (min-width: 688px) and (max-width: 767.98px) {
    section#content .image img {
        margin-top: 15px;
        width: auto!important;
        height: auto!important;
    }

    section#content .buttons {
        border-radius: 0px;
        padding: 25px 0px 25px 0px;
        margin: 0px;
        transition: all 0.15s;
    }

    section#content .buttons a {
        margin-right: 25px;
        padding: 0;
    }

    section#content .buttons span {
        font-size: 45px;
    }

    section#content .buttons .socials-sm {
        display: inline;
    }

    section#content .buttons .socials-md {
        display: none;
    }
}

.buttons a {
  color: gray;
}

.buttons a:hover {
    color: black;
    text-decoration: none;
    transition: all 0.25s;
}

/*https://jadensmith.com*/